*.shp
*.sbn
*.sbx
*.cpg
*.dbf
*.prj
*.qpj
*.shx
*.gdb
*.geojson
*.pkl
*.csv
*.gpkg
*.dbf
*.bkp
*.dtmp
.DS_Store
config.json
**/__pycache__/
**/cache/
**/bikewaysim.egg-info/
clear_outputs.py
.vscode/launch.json
